* {
  margin: 0px;
  padding: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, a, h1, h2, h3, h4, h5, h6, p, button, nav {
  font-family: 'Roboto', sans-serif;
}

body {
  font-size: 20px;
  width: 100%;
  min-height: 100vh;
  background-color: #12151f;
}

main {
  grid-column: span 12;
}

.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 0px;
  height: calc(100vh - 10px);
}

h1 {
  font-size: 1.3em;
}

p {
  font-size: .9em;
}

.grid-12col-12row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 0px;
}

.btn-primary {
  padding: 0px;
  border: 1px solid #000;
  border-radius: 8px;
  background-color: #371bb1;
  color: white;
  padding: 15px 32px;
  text-align: center;
}
.btn-primary a:link {
  color: white;
  text-align: center;
}



/* ---------------- SITE HEADER ---------------- */
.site-header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column: span 12;
  grid-row: 1/3;
  align-self: stretch;
  height: 144px;
  gap: 10px;
  place-content: stretch;
  background-color: #12151f;
  margin: 0;
  padding: 0px 12rem 0px 12rem;
}

.logo-wrapper {
  display: grid;
  grid-template: 2/2;
  grid-column: span 3;
  grid-row: span 4;
  padding: 0px;
  background-color: pink;
  place-self: stretch;
  align-items: center;
  /* border: 1px solid white; */
}

.logo-wrapper>div {
  grid-column: 1/2;
  grid-row: 1/3;
  align-items: center;
  background-color: transparent;
  margin: 10px;
}

.header-logo {
  grid-column: span 2;
  grid-row: span 2;
  display: block;
}

.header-logo img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
  object-fit: cover;
}

.site-header>div {
  background-color: transparent;
  place-self: stretch;
}

.site-header div:nth-child(2) {
  grid-column: 4/9;
  grid-row: span 2;
  padding: 0px;
}

.site-header div:nth-child(3) {
  grid-column: 9/13;
  grid-row: span 2;
  padding: 0px;
  justify-self: end;
}

.site-header div:nth-child(4) {
  grid-column: 4/13;
  grid-row: 3/5;
  padding: 0px;
  border-top: 1px solid #fff;
}

/* Search Bar */
.header-search {
  /* padding: 20px; */
  margin: 0px;
  display: flex;
  align-items: flex-end;
}

.header-search input[type=text] {
  float: left !important;
  width: 80%;
  padding: 10px;
  margin: 18px 0px 0px 0px;
  border: none;
  font-size: 16px;
  background-color: #fff;
}

.header-search button {
  /* float: right; */
  padding: 10px 12px;
  margin: 18px 0px 0px 0px;
  background: #371bb1;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

button .fa {
  color: #fff;
}

/* Shopping cart */
.cart {
  display: inline-block;
  margin: 10px;
  padding: 8px 0px;
  display: flex;
  align-items: flex-end;
  /* border: 1px solid white; */
}

.cart a {
  padding-left: 10px;
  color: #fff;
  font-size: .8em;
  text-decoration: none;
}

/* Cart icon */
.cart .fas {
  color: #fff;
  font-size: 20px;
  text-align: right;
  float: right;
}

/* Navigation */
.nav {
  font-size: .75em;
  color: #fff;
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1 0 0%;
  justify-content: space-between;
}

.nav ul a {
  display: block;
  padding: 5px 0px 0px 0px;
  font-size: .85em;
}

.nav a {
  color: #fff;
  text-decoration: none;
}


.container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-gap: 0px;
  background-color: #12151f;
  height: 100%;
  width: 100%;
  min-height: 100vh;
}

.page-container {
  display: grid;
  width: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, auto);
  grid-column: span 12;
  grid-row: 2/11;
  grid-gap: 0px;
  background-color: #eee;
  border: 1px solid #333;
  width: 100%;
}
/* ---------------- HOMEPAGE LEAD CONTAINER ---------------- */
.lead-container {
  display: grid;
  grid-column: span 12;
  grid-row: 1/4;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(2,auto);
  grid-gap: 10px;
  background-color: #fff;
  margin: 0;
  padding: 0px 12rem;
  border: 4px solid purple;
}

.lead-primary {
  display: grid;
  grid-column: span 12;
  grid-row: 1/2;
  place-self: stretch;
  background-color: #eee;
  border: 1px solid purple;
}

#lead-title {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #ccc;
  border: 1px solid #000;
}

.lead-card-row {
  display: grid;
  grid-column: span 12;
  grid-row: 2/3;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  gap: 20px;
  border: 4px solid teal
}

[class ^="lead-card-wrapper-"] {
  display: grid;
  grid-template-rows: auto 80px 75px 50px;
  gap: 5px;
  padding: 0px;
  font-size: 1em;
  border: 4px solid blue;
  align-items: start;
  justify-items: stretch;
}

.card-image {
  display: grid;
  grid-row: 1/2;
  margin: 0px;
  padding: 0px;
  border: 1px solid #000;
}

.card-title {
  display: grid;
  grid-row: 2/3;
  margin: 5px;
  padding: 0px;
  border: 1px solid #000;
}

.card-description {
  display: grid;
  /* grid-row: 2/3; */
  margin: 5px;
  padding: 0px;
  border: 1px solid #000;
}

[class ^="lead-card-wrapper-"] img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

[class ^="lead-card-wrapper-"] .card-title {
  display: grid;
  margin: 5px 0px;
  padding: 10px 10px;
  border: 1px solid pink;
  align-items: baseline/center;
}

[class ^="lead-card-wrapper-"] h1 {
  color: #12151f;
  text-align: center;
  font-size: 1em;
  margin: 5px;
  padding: 5px 0px;
  justify-self: start;
}

[class ^="lead-card-wrapper-"] h3 {
  color: #12151f;
  text-align: center;
  font-size: .75em;
  margin: 5px;
  padding: 5px 0px;
  border: 1px solid #000;
  align-self: start;
}

[class ^="lead-card-wrapper-"] .btn-primary {
  grid-row: 4/5;
  margin: 0px 10px;
  padding: 10px 0px;
}

.lead-card-wrapper-1 {
  grid-column: 1/5;
}

.lead-card-wrapper-2 {
  grid-column: 5/9;
}

.lead-card-wrapper-3 {
  grid-column: 9/13;
}

.lead-text a:link {
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

/* -------- HOMEPAGE Feature cat 1 & 3/Box 3 & 5 -------- */
.feature-container {
  display: grid;
  grid-column: span 12;
  grid-row: 4/13;
  grid-template-columns: repeat(12, 1fr);
}


[class ^="feature-cat-"] {
  display: grid;
  grid-column: span 12;
  grid-gap: 0px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 333px;
  background-color: #fff;
  margin: 18px 0px 0px 0px;
  padding: 0px 12rem 0px 12rem;
}

[class ^="feature-img-"] {
  display: grid;
  align-items: center;
  overflow: hidden;
  border: 1px solid #000;
}

[class ^="feature-text-"] {
  display: grid;
  margin: 0px;
  padding: 0px 10px;
  place-self: center/center;
  border: 1px solid #000;
}

.feature-img-left {
  grid-column: 1/5;
}

.feature-img-left img {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.feature-text-left {
  text-align: left;
  grid-column: 5/13;
}

.feature-cat-left h2 {
  padding-top: 30px;
}

.feature-button-left {
  grid-column: 10/13;
}

/* -------- HOMEPAGE Feature cat 2/Box 4 -------- */
.feature-img-right {
  grid-column: 9/13;
}

.feature-img-right img {
  display: grid;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.feature-text-right {
  text-align: right;
  grid-column: 1/9;
}

.feature-text-right h2 {
  padding-top: 30px;
}

.feature-button-right {
  grid-column: 1/4;
}

.feature-button-right a {
  text-decoration: none;
}

/* -------- FOOTER/Box 6 -------- */
.site-footer {
  display: grid;
  grid-column: span 12;
  grid-row: 11/13;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 0px;
  background-color: #12151f;
  margin: 0;
  padding: 0rem 12rem;
}

.site-footer .social-media {
  background-color: transparent;
  grid-column: 2/6;
  grid-row: 1/2;
  place-self: stretch;
  text-align: center;
}

.social-media {
  font-size: 1.3em;
  color: #fff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  justify-content: space-around;
  gap: 4px;
  margin: 30px 0px 50px 0px;
  padding: 0px;
  width: 100%;
}

.social-media .fab {
  margin: 0;
  padding: 0px;
  display: grid;
  /* border: 1px solid white; */
}

.social-media>a {
  text-decoration: none;
  color: #fff;
  margin: 0px;
  padding: 0px;
}

.footer-link-col {
  display: grid;
  grid-row: 2/6;
  text-align: left;
  padding: 0px 0px 0px 0px;
  margin: 20px 0px 0px 0px;
  align-self: start;
  /* justify-self: center; */
  justify-content: space-around;
  /* border: 1px solid white; */
}

.footer-link-col h4 {
  font-size: .65em;
  color: #05f4b7;
  /* border: 1px solid white; */
}

.footer-link-col ul {
  display: grid;
  margin: 0;
  padding: 10px 0px 0px 0px;
  list-style: none;
  line-height: 1.5em;
  /* border: 1px solid white; */
  /* justify-content: space-between; */
}

.footer-link-col ul a {
  padding: 0;
  color: #ccc;
  text-decoration: none;
  font-size: .65em;
}

.footer-link-col ul a:hover {
  padding: 0;
  color: #fff;
  text-decoration: none;
}

.site-footer div:nth-child(2) {
  grid-column: 2;
}

.site-footer div:nth-child(3) {
  grid-column: 3;
}

.site-footer div:nth-child(4) {
  grid-column: 4;
}

.site-footer div:nth-child(5) {
  grid-column: 5;
}

.site-footer #disclaimer {
  grid-column: span 6;
  grid-row: 6/7;
}

#disclaimer {
  color: #fff;
  font-size: .75em;
  text-transform: uppercase;
  text-align: center;
}

/* -------- COLLECTIONS / PRODUCT VIEW PAGE -------- */
/* Main container */
.product-container {
  display: grid;
  grid-column: span 12;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(30px 20px auto);
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px 12rem;
}

.promo-wrapper {
  display: grid;
  grid-column: span 12;
  grid-row: 1;
  background-color: #333;
  color: #fff;
  margin: 10px 0px;
  padding: 5px 0px;
  text-align: center;
  border: 1px solid #000;
}

.breadcrumb-wrapper {
  display: grid;
  grid-row: 2;
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  font-size: .7em;
  border: 1px solid #000;
}

.breadcrumb {
  display: flex;
  margin: 0px;
  padding: 0px;
  width: 100%;
  grid-column: 4/13;
  float: left;
  border: 1px solid #000;
}

.breadcrumb ul {
  margin: 0;
  padding: 0;
  line-height: 50px;
}

.breadcrumb li {
  display: block;
  list-style-type: none;
  float: left;
}

.breadcrumb li a {
  display: block;
  /* border: 1px solid #000; */
}

/* ---- SIDEBAR ---- */
.sidebar-wrapper {
  display: grid;
  grid-row: 3;
  grid-column: 1/4;
  grid-template-columns: 1;
  grid-template-rows: 200px auto;
  gap: 10px;
  border: 1px solid #000;
}

.sidebar-title {
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.sidebar-nav {
  line-height: normal;
  margin: 0 8%;
  text-align: left;
  border: 1px solid #000;
}

.sidebar-nav h3 {
  margin: 0px;
  padding: 5px 0px 0px 0px;
}

.sidebar-nav ul {
  list-style: none;
}

.sidebar-nav li {
  margin: 1em 0;
  padding: 0;
}

.sidebar-nav img {
  max-height: 100px;
  object-fit: contain;
  overflow: hidden;
}

.sidebar-nav p {
  font-size: .7em;
}

.sidebar-nav a:link {
  font-size: .8em;
  text-decoration: none;
}


/* ---- PRODUCTS DISPLAY WRAPPER ---- */
.product-wrapper, .blog-wrapper {
  display: grid;
  grid-row: 3;
  grid-column: 4/13;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border: 1px solid #000;
}

.item-wrapper {
  display: grid;
  grid-template-rows: 175px auto 50px;
  grid-template-columns: 1;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
  border: 1px solid #000;
  max-height: 300px;
}

.item-img {
  display: grid;
  grid-row: 1;
  width: 100%;
  height: auto;
  border: 1px solid #000;
}

.item-img img {
  max-height: 175px;
  object-fit: contain;
  overflow: hidden;
}

.item-text {
  display: grid;
  grid-row: 2;
  border: 1px solid #000;
}

.item-text h2 {
  font-size: .9em;
}

.item-text p {
  font-size: .8em;
}

.btn-primary {
  display: grid;
  grid-row: 3;
  border: 1px solid #000;
  border-radius: 5px;
  background-color: #371bb1;
  color: white;
  padding: 6px 8px;
  text-align: center;
  font-size: .8em;
}

.item-text .item-price {
  font-weight: bold;
}

/* -------- COLLECTIONS / PRODUCT PAGE -------- */
/* Main container */
.product-page-container {
  display: grid;
  grid-column: span 12;
  grid-gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  background-color: #fff;
  margin: 0px 0px 0px 0px;
  padding: 0px 12rem;
}

.product-page-container .breadcrumb {
  grid-column: 3/13;
  align-self: end;
}

/* #### INVENTORY WRAPPER #### */
.inventory-wrapper {
  display: grid;
  grid-column: 1/3;
  grid-row: 2/12;
  align-content: start;
  border: 1px solid #000;
}

.inventory-wrapper h5 {
  font-size: .8em;
}

.available-products {
    margin: 0px;
    padding: 0px;
    width: 100%;
    grid-column: 1/3;
    float: right;
    border: 1px solid #000;
}

.available-products > ul {
  margin: 0;
  padding: 0;
}

.available-products > li {
  list-style-type: none;
  float: right;
  line-height: 30px;
}

.available-products > li a {
  font-size: .75em;
}


/* #### PRODUCT MEDIA WRAPPER #### */
.product-media-wrapper {
  display: grid;
  grid-column: 3/9;
  grid-row: 2/12;
  grid-template-columns: 1;
  grid-template-rows: repeat(9,1fr);
  justify-content: space-around;
  border: 1px solid #000;
}

.media-center-wrapper {
  display: grid;
  grid-column: 1;
  grid-row: 1/5;
  align-items: start;
  justify-content: center;
  border: 1px solid #000;
}

.media-center-main img {
  max-height: 400px;
  object-fit: contain;
  overflow: hidden;
}

.horizontal-carousel {
  display: grid;
  grid-column: 1;
  grid-row: 5/6;
  gap: 10px;
  justify-content: center;
  border: 1px solid #000;
}

.horizontal-carousel img {
  display: flex;
  flex-direction: row;
  max-height: 50px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid #000;
}


.flight-chart {
  display: grid;
  grid-column: 1;
  grid-row: 6/10;
  justify-content: center;
  border: 1px solid #000;
}

.flight-chart img {
  height: 200px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid #000;
}


/* #### PRODUCT INFO WRAPPER #### */
.product-info-wrapper {
  display: grid;
  grid-column: 9/13;
  grid-row: 2/12;
  grid-template-columns: 1;
  grid-template-rows: repeat(9,1fr);
  border: 1px solid #000;
}

.product-buy-wrapper {
  display: grid;
  grid-column: 1;
  grid-row: 1/5;
  border: 1px solid #000;
}

.product-brand-link {
  display: grid;
  border: 1px solid #000;
}

.product-title {
  display: grid;
  border: 1px solid #000;
}

.product-rating-wrapper {
  display: grid;
  border: 1px solid #000;
}

.product-price-wrapper {
  display: grid;
  border: 1px solid #000;
}

/* #### PRODUCT BUYABLE AREA #### */
.product-buyable-area {
  display: grid;
  border: 1px solid #000;
}

.purchasing-dropdown {
  display: grid;
  border: 1px solid #000;
}

.buy-buttons {
  display: grid;
  border: 1px solid #000;
}

#add-to-cart {

}

#add-to-wishlist {

}

.product-details-specs {
  display: grid;
  grid-column: 1;
  grid-row: 5/10;
  border: 1px solid #000;
}




.archive-wrapper {
  margin: 30px 0px 0px 0px;
  padding: 0px;
  border: 1px solid #000;
}

.blog-wrapper {
  display: grid;
  justify-content: stretch;
  align-items: start;
}
.blog-post {
  margin: 10px;
  grid-column: 1/13;
  justify-self: stretch;
}
.blog-post img {
  height: 200px;
  max-height: 200px;
  object-fit: contain;
  overflow: hidden;
  border: 1px solid #000;
}












/* */
